/* LEAVE THESE */


/* NEW CSS HERE */
table {
    width:100%;
}
td{
    width:50%;
    background: #EBE6D5;
}
td img{
    width:100%;
}
body{
     background-image:url(grid.png); 
     background-repeat:no-repeat;
     background-position:center;
     background-attachment:fixed;
     background-size:cover;
     border:2px black;
     width:1000px;
     min-height: 400%; 
     margin: 0 auto; 
     min-height: 100vh;
     font-family:"Garamond"
}
h1{
    color:#252020;
    border-radius:25px;
    background-color: #e2ddcc;
    padding:20px;
    border-style:dotted;
    border-width:thick;
    border-color:#75736A;
}
 html{
    height:100%;
    width:100%;
    padding:4% 0;
    background:#ebe6d5;
}
img{
    border-style:dotted;
    border-width:thick;
    opacity:0.5;
}